.hero-section {
  // background: linear-gradient(rgba(136, 136, 136, 0.5), rgba(136, 136, 136, 0.5)), url('https://via.placeholder.com/1920x600');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px 0;
  margin-top: -1.5rem;
}

.card {
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-5px);
  }
  color:  #2A1842;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}


