/* You can add global styles to this file, and also import other style files */
.btn {
    background-color: #2A1842; 
    color: white;
    border: none;
}
.btn:hover {
    background-color: #2a1842af; 
}

.bi{
    color: #2A1842; 
}

